@font-face {
  font-family: Rubik Bubbles Regular;
  src: url(./FONT/Rubik_Bubbles/RubikBubbles-Regular.ttf);
}

@font-face {
  font-family: Nunito Medium;
  src: url(./FONT/Nunito/static/Nunito-Medium.ttf);
}

@font-face {
  font-family: Nunito Bold;
  src: url(./FONT/Nunito/static/Nunito-Bold.ttf);
}

@font-face {
  font-family: Nunito ExtraBold;
  src: url(./FONT/Nunito/static/Nunito-ExtraBold.ttf);
}

@font-face {
  font-family: Nunito LightItalic;
  src: url(./FONT/Nunito/static/Nunito-LightItalic.ttf);
}

@font-face {
  font-family: Nunito Italic;
  src: url(./FONT/Nunito/static/Nunito-Italic.ttf);
}

body {
  margin: 0;
  font-family: Nunito Medium;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFE3FC;
}

a {
  text-decoration: none;
  font-family: Nunito Bold;
}

.container {
  display: grid;
  grid-template-rows: 1fr 2fr;
  /* Divise en deux sections */
  grid-template-columns: 1fr;
  height: 100%;
  width: 100%;
  max-width: 400px;
  position: relative;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  background-image: url(./IMG/Background.png);
  background-repeat: no-repeat;
  object-fit: cover;
  position: absolute;
}

.container1 {
  display: grid;
  grid-template-rows: 1fr 2fr;
  /* Divise en deux sections */
  grid-template-columns: 1fr;
  height: 100%;
  width: 100%;
  max-width: 400px;
  position: relative;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  background-image: url(./IMG/Background1.png);
  background-repeat: no-repeat;
  object-fit: cover;
  position: absolute;
}

.logo {
  position: fixed;
  top: 10px;
  /* Espacement par rapport au haut de l'écran */
  right: 10px;
  /* Espacement par rapport à la droite de l'écran */
  z-index: 4;
  /* Assure que le logo soit au-dessus de tout autre contenu */
}

.logo img {
  width: 150px;
  /* Ajuste la taille du logo */
  height: auto;
  /* Conserve les proportions */
}

.clouds {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.bg-clouds {
  width: 220%;
  position: absolute;
  animation: moveClouds 15s linear infinite;
}

@keyframes moveClouds {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}

.earth {
  position: absolute;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-items: center;
  bottom: 0;
  transform: translateY(45%);
}

.bg-earth {
  width: 350%;
  animation: rotateEarth 20s linear infinite;
  transform-origin: center center;
}

@keyframes rotateEarth {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.content {
  position: fixed;
  bottom: 3%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, auto);
  align-content: center;
  justify-items: center;
  z-index: 3;
  background-color: transparent;
}

h1 {
  font-size: 2.5rem;
  color: white;
  margin: 0;
  font-family: Nunito ExtraBold;
}

p {
  font-size: 1.2rem;
  color: white;
  margin: 5px 0;
}

.highlight {
  font-size: 2rem;
  font-weight: bold;
}

.cta-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: white;
  color: #5E37F6;
  border: none;
  border-radius: 30px;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.047);
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.cta-button:hover {
  transform: scale(1.05);
  background-color: #f2ebff;
}

.cta-button:hover a {
  color: #5E37F6;
}

.ticketContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
  height: 100vh;
}

.ticket {
  animation: bouncingCard 0.6s ease-out infinite alternate;
  background-color: white;
  border-radius: 12px;
  max-width: 80%;
}

.ticketShadow {
  animation: bouncingShadow 0.6s ease-out infinite alternate;
  margin-top: 4px;
  width: 95%;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(93, 55, 246, 0.243);
  filter: blur(12px);
}

/* Ticket Content */
.ticketTitle {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 12px 16px 4px;
  color: #5E37F6;
}

hr {
  width: 90%;
  border: 1px solid #efefef;
}

.ticketDetail {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 4px 16px;
  color: #0e0928;
}

.ticketSubDetail {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 12px 16px;
}

.ticketSubDetail .code {
  margin-right: 24px;
}

.cta-button1 {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #5E37F6;
  border: none;
  border-radius: 30px;
  font-size: 1.3rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(93, 55, 246, 0.243);
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.cta-button1 a {
  color: white;
}

.cta-button1:hover {
  transform: scale(1.05);
  background-color: white;
}

.cta-button1:hover a {
  color: #5E37F6;
}

/* Ticket Ripper */
.ticketRip {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.circleLeft {
  width: 12px;
  height: 24px;
  background-color: #FFE3FC;
  border-radius: 0 12px 12px 0;
}

.ripLine {
  width: 100%;
  border-top: 3px solid #FFE3FC;
  border-top-style: dashed;
}

.circleRight {
  width: 12px;
  height: 24px;
  background-color: #FFE3FC;
  border-radius: 12px 0 0 12px;
}

/* Ticket Bouncing Animation */
@keyframes bouncingCard {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-18px);
  }
}

@keyframes bouncingShadow {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(4px);
  }
}

.spinning-stamp {
  position: absolute;
  top: 25%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 300px;
  /* Ajustez la taille */
  height: 300px;
  z-index: -1;
  /* Place le tampon derrière tout */
}

.spinning-stamp img {
  width: 100%;
  /* L'image occupe tout l'espace du conteneur */
  height: auto;
  animation: spinStamp 10s linear infinite;
  /* Animation de rotation */
  opacity: 0.2;
  /* Rendre le tampon subtil (ajustez si nécessaire) */
}

@keyframes spinStamp {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.swiper {
  width: 80%;
  height: 55%;
  border: 3px dashed #5E37F6;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(93, 55, 246, 0.243);
}

.swiper-slide {
  text-align: center;
  font-size: 28px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide p {
  position: absolute;
  color: #5E37F6
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

}


.container2 {
  height: 100%;
  width: 100%;
  max-width: 400px;
  position: relative;
  overflow: hidden;
  position: absolute;
  z-index: 2;
  background-color: #FFE3FC;
  position: absolute;
  display: flex;
  /* Active Flexbox */
  flex-direction: column;
  /* Empile les enfants verticalement */
  justify-content: center;
  /* Centre horizontalement */
  align-items: center;
  /* Centre verticalement */

}

.instructions {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 16px auto;
  max-width: 80%;
  text-align: center;
}

.info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #5E37F6;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.info-icon img {
  width: 20px;
  height: 20px;
}

.info-icon svg {
  color: white;
}

.instructions p {
  font-size: 1rem;
  color: #5E37F6;
  /* Couleur du texte */
  font-family: Nunito Medium;
  margin: 0;
}

.scan-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #5E37F6;
  padding: 8px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.scan-icon img {
  width: 20px;
  height: 20px;
}

.scan-icon1 {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #5E37F6;
  padding: 8px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.scan-icon1 img {
  width: 20px;
  /* Ajustez selon la taille souhaitée */
  height: 20px;
}

.scan-icon2 {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #5E37F6;
  padding: 8px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.scan-icon2 img {
  width: 20px;
  height: 20px;
}